# Entorno virtual
venv/

# Configuración y credenciales
.env

# Archivos de caché
__pycache__/
*.pyc
*.pyo

# Migraciones innecesarias
 */migrations/*.pyc

# Base de datos local
db.sqlite3

# Archivos de editores
.idea/
.vscode/

# Archivos de pip
pip-log.txt
pip-delete-this-directory.txt